<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HAGAKI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="HAGAKI.Properties.Settings.DatabaseDataEntryBPOConnectionString"
            connectionString="Data Source=10.10.10.248;Initial Catalog=DatabaseDataEntryBPO;Persist Security Info=True;User ID=bpoentry;Password=123@123a"
            providerName="System.Data.SqlClient" />
        <add name="HAGAKI.Properties.Settings.HagakiConnectionString"
            connectionString="Data Source=10.10.10.248;Initial Catalog=Hagaki;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
        <add name="HAGAKI.Properties.Settings.DatabaseDataEntryBPOConnectionString1"
            connectionString="Data Source=10.10.10.248;Initial Catalog=DatabaseDataEntryBPO;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <HAGAKI.Properties.Settings>
            <setting name="ApplicationSkinName" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="ZoomImage" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LastSelectedFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Zoom_Doc" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="Zoom_Ngang" serializeAs="String">
                <value>1400</value>
            </setting>
        </HAGAKI.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
